@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Northern Michigan Mountain Bike Trails is a group dedicated to providing information about local mountain bike trails. Search our database and find trails near you.</p>
