@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Northern Michigan<br />Mountain Bike Trails</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>About Us</h2>
        <p>
            Some filler text goes here describing what we do.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Explore Trails</h2>
        <p>To explore some local trails, click below.</p>
        <button type="button" class="btn" onclick="location.href='@Url.Action("Index", "Trail")'">Explore Now!</button>
    </div>
</div>